body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffede7;
    color: #212529;
}

#botaoCadastrar {
    --bs-btn-border-color: #DDC6BA;
    --bs-btn-hover-bg: #D6C6B9;
    --bs-btn-hover-border-color: #D6C6B9;
    --bs-btn-active-bg: #C3AA9A;
    --bs-btn-active-border-color: #C3AA9A;
    --bs-btn-color: #212529;
}