{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Recitas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homePage.css'%}">
</head>
<body style="background-color: #FFF9F0">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #ffede7;">
            <div class="container-fluid">
                <img src="{% static 'img/logoSite.png'%}" alt="logoSite" width="60" height="60">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expand="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item ms-3">
                            <a class="nav-link active" aria-current="page" href=" ">Início</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-3" role="search">
                        <input class="form-control ms-2" type="search" placeholder="Receita de..." aria-label="Search">
                        <button class="btn" type="submit">Pesquisar</button>
                    </form>
                    <li class="nav-item dropdown ms-auto me-4">
                        <a class="nav-link" href=" " role="button" data-bs-toggle="dropdown" aria-expanded="false">Conta</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href=" ">Login</a></li>
                            <li><a class="dropdown-item" href=" ">Cadastrar-se</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href=" ">Sair</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <main style="max-height: 100%">
        <h1>Olá! Seja bem-vindo(a) ao Site de Receitas!</h1>
    </main>
    <footer>
        <div class="d-flex" style="background-color: #DDC6BA;">
            <p class="mt-3 ms-3">Copyright &copy; Paulo Henrique Santos Adriani</p>
        </div>
    </footer>
    <script src="{% static 'js/homePage.js'%}"></script>
</body>
</html>